* {
    padding: 0;
    margin: 0;
}

:root {
    --accent: rgb(255, 180, 81);;
}

body {
    background-color: #484848;
    color: white;
}

.general-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    height: 80vh;
    background-color: #333;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
}

.sub-container {
    width: 37%;
    height: 60%;
}

.vertical-line {
    width: 1px;
    height: 80%;
    background-color: white;
}

.big-btn {
    padding: 5px 20px;
    background-color: #484848;
    color: white;
    border-radius: 25vmin;
    border: 1px solid var(--accent);
    transition: 0.3s ease;
    font-weight: normal;
}

.big-btn:hover {
    transform: scale(1.1);
}

.sub-container-title {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: var(--accent);
}

input[type="text"],input[type="password"],input[type="email"] {
    width: 80%;
}